#hey {
    background-color: rgb(146, 175, 255);
}
#tastetherainbow {
    background:linear-gradient(rgb(255, 188, 188),rgb(255, 252, 211),rgb(200, 255, 204),rgb(164, 213, 244),rgb(255, 163, 238));
    border: 2px dashed black;
}
body
{
  color: white;
  background:linear-gradient(to bottom right, #fae9d9, #ffe0c1,#e2c09a);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.btnno {
    background-color: rgb(112, 107, 172);
}